# yaml-language-server: $schema=https://www.schemastore.org/github-workflow.json
---
name: Publish Release

on:
  workflow_call:
    inputs:
      ref:
        description: 'Git ref to publish'
        required: true
        type: string
      version_type:
        description: 'Type of version bump'
        required: true
        type: string

jobs:
  publish:
    runs-on: ubuntu-latest
    environment: staging
    name: Publish release to NPM
    permissions:
      contents: write
      id-token: write
    steps:
      - name: Checkout sources
        uses: actions/checkout@v4
        with:
          ref: ${{ inputs.ref }}
          fetch-depth: 0

      - name: Install node 20
        uses: actions/setup-node@v5
        with:
          node-version: 20
          cache: npm

      - name: Update npm
        run: npm install -g npm@11.5.1

      - name: Configure git
        run: |
          git config user.name "${{ github.actor }}"
          git config user.email "${{ github.actor }}@users.noreply.github.com"

      - name: Get previous released annotated tag
        id: last-release
        run: |
          echo "base-tag=$(git describe | awk -F '-' '{print $1}')" >> "$GITHUB_OUTPUT"
          echo "full-tag=$(git describe)" >> "$GITHUB_OUTPUT"

      - name: Get first tag in current development iteration
        id: fetch-tag
        if: contains(steps.last-release.outputs.full-tag , '-ea.')
        run: |
          echo "oldest-tag=$(git for-each-ref --sort=creatordate --format '%(refname:lstrip=2)' refs/tags | grep ${{ steps.last-release.outputs.base-tag }} | head -n 1)" >> "$GITHUB_OUTPUT"

      - name: Update package with new version
        id: bump
        run: |
          echo "version=$(npm version ${{ inputs.version_type }} --no-git-tag-version )" >> "$GITHUB_OUTPUT"

      - name: Install project modules
        run: npm ci

      - name: Compile project
        run: npm run compile

      - name: Publish package
        env:
          NPM_CONFIG_PROVENANCE: true
        run: npm publish

      - name: Commit and push package modifications
        run: |
          git add package.json
          git add package-lock.json
          git commit -m "build: updated package with ${{ steps.bump.outputs.version }} [skip ci]"
          git push

      - name: Create and push new tag
        run: |
          git tag ${{ steps.bump.outputs.version }} -m "${{ steps.bump.outputs.version }}"
          git push origin ${{ steps.bump.outputs.version }}

      - name: Create release notes
        uses: actions/github-script@v6
        id: release-notes
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          script: |
            const repo_name = context.payload.repository.full_name
            const response = await github.request('POST /repos/' + repo_name + '/releases/generate-notes', {
              tag_name: '${{ steps.bump.outputs.version }}',
              previous_tag_name: '${{ steps.fetch-tag.outputs.oldest-tag != ''  && steps.fetch-tag.outputs.oldest-tag  || steps.last-release.outputs.base-tag }}'
            })
            return response.data.body

      - name: Create a release
        uses: actions/github-script@v6.4.1
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          script: |
            const repo_name = context.payload.repository.full_name
            const response = await github.request('POST /repos/' + repo_name + '/releases', {
              tag_name: '${{ steps.bump.outputs.version }}',
              name: '${{ steps.bump.outputs.version }}',
              draft: false,
              body: ${{ steps.release-notes.outputs.result }},
              prerelease: false,
              make_latest: 'true'
            })
