# yaml-language-server: $schema=https://www.schemastore.org/github-workflow.json
---
name: Publish Prerelease

on:
  workflow_call:
    inputs:
      ref:
        description: 'Git ref to publish'
        required: true
        type: string

jobs:
  publish:
    runs-on: ubuntu-latest
    environment: staging
    name: Publish prerelease to NPM
    permissions:
      contents: write
      id-token: write
    steps:
      - name: Checkout sources
        uses: actions/checkout@v4
        with:
          ref: ${{ inputs.ref }}
          fetch-depth: 0

      - name: Install node 20
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: npm
          registry-url: 'https://registry.npmjs.org'

      - name: Update npm
        run: npm install -g npm@11.5.1

      - name: Configure git
        run: |
          git config user.name "${{ github.actor }}"
          git config user.email "${{ github.actor }}@users.noreply.github.com"

      - name: Update package with new version
        id: bump
        run: |
          echo "version=$(npm version prerelease --no-git-tag-version --preid ea)" >> "$GITHUB_OUTPUT"

      - name: Install project modules
        run: npm ci

      - name: Compile project
        run: npm run compile

      - name: Publish package
        env:
          NPM_CONFIG_PROVENANCE: true
        run: npm publish --tag prerelease

      - name: Commit and push package modifications
        run: |
          git add package.json
          git add package-lock.json
          git commit -m "build: updated package with ${{ steps.bump.outputs.version }} [skip ci]"
          git push

      - name: Create and push new tag
        run: |
          git tag ${{ steps.bump.outputs.version }} -m "${{ steps.bump.outputs.version }}"
          git push origin ${{ steps.bump.outputs.version }}

      - name: Create a release
        uses: actions/github-script@v6.4.1
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          script: |
            const repo_name = context.payload.repository.full_name
            const response = await github.request('POST /repos/' + repo_name + '/releases', {
              tag_name: '${{ steps.bump.outputs.version }}',
              name: '${{ steps.bump.outputs.version }}',
              prerelease: true,
              generate_release_notes: true
            })
