# yaml-language-server: $schema=https://www.schemastore.org/github-workflow.json
---
name: Publish Switch

on:
  workflow_call:
    inputs:
      ref:
        description: 'Git ref to publish'
        required: true
        type: string
      is_prerelease:
        description: 'Whether to publish as prerelease'
        required: true
        type: boolean
      version_type:
        description: 'Type of version bump (patch/minor/major/prerelease)'
        required: false
        type: string
        default: 'prerelease'

jobs:
  prerelease:
    if: inputs.is_prerelease == true || inputs.is_prerelease == 'true'
    uses: ./.github/workflows/publish-prerelease.yml
    with:
      ref: ${{ inputs.ref || github.ref }}

  release:
    if: inputs.is_prerelease == false || inputs.is_prerelease == 'false'
    uses: ./.github/workflows/publish-release.yml
    with:
      ref: ${{ inputs.ref || github.ref }}
      version_type: ${{ inputs.version_type || 'patch' }}
